:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /*  #0A1A2A -- azul
      #4831D4 --purpura
      #CCF381 --verde
  */
  --azul: #103153;
  --blanco: white;
  --gris: #f2f2f2;

  color-scheme: light dark;
  color: var(--blanco);
  background-color: var(--azul);

}

html{
  width: 100vw;
  overflow-x:hidden;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background: linear-gradient(180deg, rgba(16,49,83,1) 29%, rgba(18,68,120,1) 81%);
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
}

@media screen and (max-width: 578px){
  :root{
    font-size: 15px;
  }
}

@media screen and (max-width: 400px){
  :root{
    font-size: 12px;
  }
}