:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /*  #0A1A2A -- azul
      #4831D4 --purpura
      #CCF381 --verde
  */
  --purpura: #103153;
  --verde: white;
  --gris: #f2f2f2;

  color-scheme: light dark;
  color: var(--verde);
  background-color: var(--purpura);

}

html{
  width: 100vw;
  overflow-x:hidden
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100%;
}

