.conteiner {
  width: 100%;
  height: 10rem;
  margin-top: 2rem;
}

.contactItems {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.contactTitle {
  font-size: 2rem;
}

.contactName{
  font-weight: 300;
}