.header {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 0;
  font-family: 'Open Sans', sans-serif;
}

.menu{
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.link{
  font-size: 1.5rem;
  border-bottom: 2px solid transparent;
  
}

.link:hover {
  cursor:pointer;
  background: rgba(72,49,212,0.5);
  transition: border-bottom .3s linear;
  border-bottom: 2px solid #CCF381;
}

