.main{
  width: 100%;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  width: 40%;
}

.name {
  font-size: 4rem;
}

.job{
  font-size: 2rem;
  font-weight: 300;
}

.text{
  color: var(--gris);
  width: 50%;
  font-size: 1.3rem;
  font-weight: 300;
}