.worksContainer{
  padding: 1rem;
  width: 100%;
  min-height: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 5rem;
}

.challengesContainer{
  width: 100%;
}


@media screen and (max-width:768px){
  .worksContainer{
    grid-template-columns: 1fr;
  }
}